
/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Roboto:wght@700&display=swap');

/* font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */


/* All */

body{
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Montserrat Alternates', sans-serif;
}

li{
    list-style: none;
}

.lower-sub-image{
    height: 300px;
}

.hrule1{
    width: 400px;
    padding-left: 400px;
}

.hrule-inner{
    border: none;
    height: 2px;
    background: grey;
}
.hrule2{
    width: 380px;
    transform: rotate(90deg);
    position: relative;
    left: 308px;
    top: 210px;
    color: grey;
}
.hrule3{
    width: 30px;
    transform: rotate(45deg);
    position: relative;
    left: 270px;
    top: 268px;
}

.hrule4{
    width: 130px;
    transform: rotate(90deg);
    position: relative;
    left: 200px;
    top: 215px;
}
.hrule5{
    width: 30px;
    transform: rotate(135deg);
    position: relative;
    left: 130px;
    top: 268px;
}




/* Navigation */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0;
}

.nav-list{
    display: flex;
}

.nav-list-item{
    font-size: 20px;
    color: #000000b6;
    margin-right: 100px;
}

.nav-list-item:hover{
    font-weight: bold;
    cursor: pointer;
    color:#000000;
}

.logo{
    margin-left: 100px;
}

/* Middle */

.mid{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 100px;
}

.social-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icon-item{
    font-size: 30px;
    padding-top: 40px;
    padding-left: 170px;
}

.btn-box{
    text-align: right;
}


.btn{
    font-size: 25px;
    background-color: #000000b6;
    border: none;
    color: #ffffff;
    padding: 20px 50px;
    margin-right: 100px;
    margin-top: 20px;
    width: 420px;
}


.mid-heading{
    font-size: 150px;
    font-family: 'Roboto', sans-serif;
    line-height: 130px;
}

.span1{
    color: white;
    -webkit-text-stroke: 1px #000000;
}

.span2{
    color: #ffffff;
}

.span3{
    font-weight: bold;
    color: #000000b6;
}

.mid-sub{
    font-size: 33px;
    color: grey;
    padding-left: 60px;
}

/* Lower */

.lower{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.lower-list{
   padding-left: 140px;
}

.lower-list-item{
    font-size: 25px;
    margin-bottom: 40px;
    color: grey;
}

.lower-list-item:hover{
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.lower-list-item:hover .dot{
    font-weight: bold;
    color: #000000;
}


.lower-sub-head{
    font-size: 60px;
    padding-top: 10px;
    color: #000000b6;
}

.lower-sub-para{
    font-size: 20px;
    width: 500px;
    font-weight: bold;
    color: #000000b6;
}

.dot{
    font-size: 15px;
    color:#000000b6;
    position: relative;
    bottom: 5px;
    right: 30px;
}

.lower-sub{
   position: relative;
   left: 250px;
}

/* Container */

.container{
    position: relative;
}

.container::before{
    content: '';
    position: absolute;
    background-image: url("../images/bg.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100vh;
    width: 650px;
    z-index: -1;
}


/* Mobile Responsiveness */

@media (max-width: 1830px){

    body{
        overflow-y: scroll;
    }
    
    
    .hrule1{
        width: 400px;
        padding-left: 0;
    }
    
    .hrule2{
        left: 167px;
        top: 25px;
    }
    
    .hrule3{
        width: 30px;
        transform: rotate(45deg);
        position: relative;
        left: 70px;
        top: 210px;
    }
    
    .hrule4{
        width: 130px;
        transform: rotate(90deg);
        position: relative;
        left: 0px;
        top: 155px;
    }
    .hrule5{
        width: 30px;
        transform: rotate(135deg);
        position: relative;
        left: -70px;
        top: 210px;
    }
        
    
    .nav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0 0;
    }
    
    .nav-list{
        display: flex;
    }
    
    .nav-list-item{
        font-size: 20px;
        color: #000000b6;
        margin: 0 20px;
    }
    
    
    .logo{
        margin-right: 20px;
    }

    
    .mid{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-top: 1100px;
    }
    
    
    .social-icon-item{
        font-size: 30px;
        padding-top: 40px;
        padding-left: 80px;
    }
    
    .btn-box{
        text-align: center;
    }
    
    
    .btn{        
        margin-right: 0
    }
    
    
    .mid-sub{
        font-size: 33px;
        color: grey;
        padding-left: 0px;
    }
    
    
    .lower{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .lower-list{
       padding-left: 0px;
    }

    .dot{
        font-size: 15px;
        color:#000000b6;
        position: relative;
        bottom: 5px;
        right: 30px;
    }
    
    .lower-sub{
       position: relative;
       left: 0px;
       margin: 0 50px;
    }
    
    
    .container::before{
        top: 200px;
    }
    

}

@media (max-width: 1400px){

    .nav{
        flex-direction: column;
    }

    .hrule1{
        margin: 2em 0;
    }

    .logo{
        margin-left: 0;
    }
    
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-list-item{
        margin: 1em 0;
    }

    .container::before{
        top: 550px;
    }

    .mid{
        flex-direction: column;
    }

    .social-icon-item{
        padding: 0;
        margin: 1em 2em;
    }

    .social-icon{
        flex-direction: row;
        padding-left: 0;
    }

   .btn{
    margin-bottom: 50px;
   }

   .lower{
        flex-direction: column;
    }

    .hrule2{
        left: -128px;
        top: 228px;
    }

    .lower-sub{
        margin-top: 70px;
    }
    
    .hrule3{
        left: -40px;
        top: 172px;
    }
    
    .hrule4{
        left: -30px;
        top: 100px;
    }
    .hrule5{
        left: -20px;
        top: 136px;
    }

}

@media (max-width: 700px){

    .logo{
        height: 3rem;
    }

    .hrule1{
        width: 280px;
    }

    .nav-list-item{
        font-size: 1rem;
    }

    .container::before{
        height: 50vh;
        width: 280px;
        top: 450px;
    }

    .mid{    
        margin-top: 700px;
    }

    .mid-heading{
        font-size: 5rem;
        line-height: 80px;
    }

    .mid-sub{
        font-size: 1.2rem;
        padding-left: 210px;
    }

    .social-icon-item{
        font-size: 1.2rem;
        margin: 0 1.5rem;
    }

    .btn{
        font-size: 1rem;
        width: 280px;
    }

    .lower-list-item{
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    .dot{
        font-size: 0.5rem;
        padding-top: 0.6rem;
    }

    .lower-sub-head{
        font-size: 2rem;
    }
    
    .lower-sub-para{
        font-size: 1rem;
        width: 300px;
    }

    .lower-sub-image{
        height: 150px;
    }
    
    .hrule2{
        left: -93px;
        top: 175px;
        width: 280px;
    }

    .lower-sub{
        margin-top: 70px;
    }
    
    .hrule3{
        left: -10px;
        top: 172px;
    }
    
    .hrule4{
        left: 0px;
        top: 100px;
    }
    .hrule5{
        left: 10px;
        top: 136px;
    }

}